.modalOrder {
    position: absolute;
    display: flex;
    width: 50%;
    min-width: 710px;
    max-width: 1000px;
    height: 850px;
    background: #fff;
    border-radius: 20px;
    z-index: 5;
    border: 1px solid #ccc;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: column;
}

.modalOrder input:focus {
    transition: border-color 0.5s;
    border: 0.5px solid var(--color-1, #506365);
}

.tgLink {
    width: 98%;
    height: 40px;
    margin-top: 10px;
    text-align: end;
    margin-right: 10px;
    cursor: pointer;
    color: #7c7c7c;
}

.tgLink:hover {
    text-decoration: underline;
}

.peoplePersonInfo {
    position: relative;
    display: flex;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}

.peopleData {
    position: relative;
    display: flex;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.peopleData input {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 19px;
}

.peopleName {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 250px;
}

.peopleName input {
    position: relative;
    height: 40px;
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 19px;
}

.peoplePhone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 140px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.peopleCity {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 120px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.docDriverData {
    position: relative;
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: #7c7c7c;
}

.docDriverData input {
    position: relative;
    height: 40px;
    width: 100%;
    /* min-width: 250px; */
    border-radius: 20px;
    border: 1px solid #ccc;
    text-align: center;
    align-content: center;
    font-size: 19px;
}

.docData {
    position: relative;
    display: flex;
    width: 50%;
    height: 98%;
    min-width: 250px;
    flex-direction: column;
    align-content: baseline;
    text-align: center;
    padding-left: 5%;
    padding-right: 20px;
    padding-top: 10px;
    border-right: 1px solid #ccc;
}

.docData input {
    width: 100%;
    margin-top: 5px;
}

.docData span {
    font-size: 19px;
    margin-top: 25px;
    color:  black;
}

.autoData {
    position: relative;
    display: flex;
    width: 50%;
    height: 98%;
    min-width: 250px;
    padding-right: 5%;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
}

.autoData span {
    position: relative;
    font-size: 19px;
    margin-top: 25px;
    color:  black;
}

.autoData input {
    margin-top: 5px;
}

#modelAutoList {
    position: absolute;
    display: flex;
    width: 90%;
    margin-left: 5%;
    min-width: 270px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    z-index: 100;
    overflow: auto;
}

.modelAutoListUl {
    position: relative;
    /* max-height: 300px; */
    width: 90%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 101;
    overflow-y: auto;
}

#modelAutoList li {
    position: relative;
    display: flex;
    width: 90%;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; */
    font-size: 19px;
    color: #7c7c7c;
    cursor: pointer;
}

#modelAutoList li:hover {
    color: black;
}

.countryDriver {
    position: relative;
    display: flex;
    width: 100%;
    height: 42px;
    margin-top: 5px;
    min-width: 250px;
    padding-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    text-align: center;
    border-color: #ccc;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 19px;
}

.countryDriver option {
    position: relative;
    width: 50%;
    max-height: 300px;
    align-content: center;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.colorsAuto {
    position: relative;
    display: flex;
    width: 100%;
    height: 42px;
    margin-top: 5px;
    min-width: 250px;
    padding-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    text-align: center;
    border-color: #ccc;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 19px;
    /* color: #7c7c7c; */
}

.colorsAuto option {
    position: relative;
    width: 50%;
    align-content: center;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.ControlOrder {
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.ControlOrder button {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
    color: #fff;
}

.controlBtn:hover {
    background: #506365;
}

.controlBtn {
    background: var(--506365, #7A9E9F);
}

#closeModalOrder {
    background: #FE5F55;
}


@media only screen and (min-width: 550px) and (max-width: 1270px) {
    .viewBtnOrders {
        width: 250px;
        font-size: 18px;
    }

    .rowTitle {
        font-size: 14px;
    }

    .tableOrder td {
        font-size: 14px;
    }

    #modalOrderId {
        min-width: 540px;
        width: 540px;
        margin: 0;
    }

    .peopleData {
        font-size: 16px;
    }

    .peopleData input {
        font-size: 16px;
    }

    .peopleName {
        min-width: 200px;
    }

    .docDriverData {
        min-width: 500px;
        width: 90%;
    }

    .docData {
        font-size: 16px;
        min-width: 240px;
        width: 50%;
    }

    .docData span {
        font-size: 16px;
        min-width: 200px;
        width: 40%;
    }
    .docData input {
        min-width: 200px;
        width: 50%;
        font-size: 16px;
    }

    .countryDriver {
        padding-left: 2px;
        min-width: 200px;
    }

    .autoData {
        font-size: 16px;
        min-width: 240px;
        width: 50%;
    }

    .autoData span {
        font-size: 16px;
        min-width: 200px;
        width: 50%;
    }

    .autoData input {
        font-size: 16px;
    }

    .colorAuto {
        font-size: 16px;
        min-width: 240px;
    }

    .colorsAuto {
        font-size: 16px;
        min-width: 200px;
    }

    #modelAutoList {
        margin-left: 0;
    }
}